body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0.2px black solid ;
    margin-top: 5px;
    margin-bottom: 3px;
}

.small-font {
    font-size: 0.5rem;
}
.padding2 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.padding1 {
    padding-left: 0.2rem;
    padding-right: 0.3rem;
}

.card {
    background-color: yellow;
    height: 87mm;
    width: 62mm;
    padding: 2mm;
}

.inner-card {
    background-color: lightgrey;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 110%;
}

.clefairy-rechts {
    display: flex;
    gap: 2mm;
    color: deeppink;
    justify-content: flex-end;
}

.clefairy-rechts img {
    width: 5mm;
    height: 5mm;
    justify-content: flex-end;
}

.clefairy-pict {
    display: flex;
    justify-content: center;
}

.clefairy-pict img {
    width: 50%;
    height: auto;
    border: 0.2rem yellow solid;
    padding-left: 3rem;
    padding-right: 3rem;
}

.clefairy-properties {
    font-size: 0.5rem;
    text-align: center;
    background-color: yellow;
    margin-top: 4px;
    margin-left: 0.85rem;
    margin-right: 0.85rem;
}

.clefairy-attacks, .clefairy-strengths {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
    gap: 2mm
}

.clefairy-attacks img, .clefairy-strengths img {
    width: 3mm;
    height: 3mm;
    /* display: flex; */
    /* justify-content: space-around; */
}

.image-attack {
    width: 9mm;
    display: flex;
    justify-content: center;
    /* align-items: space-arround; */
}

.colorless3 {
    width: 40mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

.clefairy-attacks span, .clefairy-strengths span {
    font-weight: bold;
}

.clefairy-rarity {
    display: flex;
    
}
.clefairy-rarity p {
    border: 1px yellow solid;
}

.clefairy-rarity span {
    padding-left: 0.5rem;
}

.clefairy-extra-info {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 0;
    flex-direction: row;
}

.clefairy-extra-info img{
    /* display: flex; */
    /* align-items: center; */
    width: 3mm;
    height: 3mm;
}

.clefairy-extra-info p {
    margin-top:0;
    margin-bottom:0;
    display: flex;
    /* justify-content: center; */
}
.info-text {
    display: flex;
    justify-content: space-around;
}

.info-image {
    display: flex;
    justify-content: space-around;
}
